.title-table {
  font-family: "Nunito" !important;
  font-weight: 700 !important;
  font-size: 1.6rem !important;
  color: #3f3f55 !important;
}

.display {
  display: inline !important;
}

.table-items {
  font-family: "Nunito" !important;
  font-weight: 400 !important;
  font-size: 1.4rem !important;
  color: #747488 !important;
  cursor: pointer;
}

.edit-icon {
  margin-right: 1rem;
}

.edit-icon:hover {
  transform: scale(1.1);
}

.delete-icon:hover {
  transform: scale(1.1);
}
