.customer-billing-description {
  display: flex;
  border-bottom: 0.1rem solid #eff0f7;
  /* border-bottom: 0.2rem solid #000; */
}

.customer-billing-description :nth-child(1),
.customer-billing-description :nth-child(2),
.customer-billing-description :nth-child(3) {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 4rem;
  letter-spacing: 0.005em;
  color: #6e6e85;

  width: 18.533rem;
  height: 4rem;
}
