.customer-status-card {
  width: 55.6rem;
}

.charge-card-header :nth-child(1) {
  display: flex;
}

.charge-card-header :nth-child(1) img {
  margin-right: 0.8rem;
}

.charge-card-header :nth-child(1) h2 {
  white-space: nowrap;
}

.charge-header :nth-child(1),
.charge-header :nth-child(2),
.charge-header :nth-child(3) {
  width: 18.533rem;
}
