.montserrat-24 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 130%;
}

.montserrat-18 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 130%;
}

.montserrat-16 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 130%;
}

.nunito-16 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 130%;
}

.nunito-14 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 130%;
}

.nunito-12 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 130%;
}
