.montserrat-24 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 130%;
}

.montserrat-18 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 130%;
}

.montserrat-16 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 130%;
}

.nunito-16 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 130%;
}

.nunito-14 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 130%;
}

.nunito-12 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 130%;
}