.title-table {
  font-family: "Nunito" !important;
  font-weight: 700 !important;
  font-size: 1.6rem !important;
  color: #3f3f55 !important;
}

.title-table img {
  cursor: pointer;
}

.table-items {
  font-family: "Nunito" !important;
  font-weight: 400 !important;
  font-size: 1.4rem !important;
  color: #747488 !important;
  cursor: pointer;
}

.status-color {
  padding: 0.4rem 1rem;
  border-radius: 0.8rem;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 1.4rem !important;
  line-height: 1.9rem;
  text-align: center;
}

.in-day {
  color: #1fa7af !important;
  background-color: #eef6f6;
}

.defaulter {
  color: #971d1d !important;
  background-color: #ffefef;
}

.in-day-pending {
  color: #c5a605 !important;
  background-color: #fcf6dc;
}

.add-icon:hover {
  transform: scale(1.1);
}
