.backdrop {
  background: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(0.4rem);

  position: fixed;
  inset: 0;
  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 2.4rem;
}

.modal-container h2 {
  margin-bottom: 3.2rem;
  align-self: center;
  text-align: center;
  color: #343447;
  font-size: 24rem;
}

.close-icon {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  z-index: 2;
  right: 3.2rem;
}

.close-icon img:hover {
  transform: scale(1.1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-customers-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  position: relative;
}

.header-customers-icon img {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: -0.5rem;
  cursor: auto;
}

.header-customers-icon h2 {
  margin: 3rem 0 0 4.5rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.6rem;
  color: #3f3f55;
}

.align-label-select {
  display: flex;
  flex-direction: column;
}

.btn-modal-customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.btn-modal-customers button {
  width: 23.6rem;
}

.btn-cancel {
  border: none;
  background-color: #f8f8f9;
  color: #0e8750;
  border-radius: 1rem;
  height: 3.3rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: 0.1rem solid #dedee9;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
}

.modal-form .error-input {
  border: 0.1rem solid red;
}
